@import url("/assets/styles/default.css");

#main-title {padding-bottom: 0;}
#summary {padding-top: 0;}

#table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.horzintal-flex {
    display: flex;
    gap: 24px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}