@import url("/styles/button.css");
@import url("/styles/font.css");
@import url("/styles/default.css");
@import url("/styles/vars.css");

#main-title {  padding-bottom: 0; }

#about, #credits { padding-top: 0;}

#about-text {
    margin: 0;

    text-align: justify;
}

#credits-container {
    padding-bottom: 32px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: start;

    gap: 20px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
    justify-content: center;
}