@import url("/assets/styles/button.css");
@import url("/assets/styles/font.css");
@import url("vars.css");

body {
    margin: 0;
    min-height: fit-content;

    color: var(--GeneralTextColor);
    text-align: center;

    background-position-x: center;
    background-size: 100vw auto;
    background-image: url("/assets/background_blur.png");
    background-repeat: repeat-y;
}

a {color: var(--LinkTextColor);}

.title {
    padding: 20 20 20 20;
    margin: 0;

    color: var(--MainColor);
    text-shadow: var(--MainShadowColor) 3px 3px;
}

.inner-column {
    padding: clamp(2px, 2vw, 48px);
    margin: 12px 12px 0 12px;
    width: auto;
    
    height: fit-content;

    background-image: linear-gradient(0, rgba(0, 0, 0, 0.865), rgba(0, 0, 0, 0.499));
    min-height: 100vh;
    border-radius: 16px 16px 0 0;
}

footer {
    width: 100vw;

    padding: 8px 0 8px 0;
    background-image: linear-gradient(0, rgb(10,10,10), rgb(20, 20, 20));
}

#footer-content{
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

#footer-credits {
    display: flex;
    flex-direction: column;
}

#footer-social-content {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#footer-bottom {
    margin-top: 8px;
}

#menu-button {
    position: fixed; 
    right: 18px;
    bottom: 18px;

    font-size: 20px;
    padding: 10px 15px;

    cursor: pointer;
    transition: right 0.3s ease;

    z-index: 2;
}


#menu {
    position: fixed;
    padding: 0 8;

    top: 0;
    right: -258px;

    width: 242px;
    height: 100%;

    background-image: linear-gradient(0, var(--BackgroundColor), var(--BackgroundColorLight));

    padding-top: 20px;
    transition: right 0.3s ease;

}

#menu.active {right: 0;}
#menu .title {padding: 10px 4px;}
#menu a {
    display: block;
    padding: 10px 10px;

    text-decoration: none;

    border-radius: 3px;
}

#menu a:hover {
    border-left: 2px solid var(--LinkTextColor);
    border-right: 2px solid var(--LinkTextColor);
}

table {
    border-collapse: collapse;
    border: 2px solid var(--MainColor);
    border-left: 2px solid var(--MainColorHighlight);

    letter-spacing: 1px;
    margin: auto;
}

caption {
    padding: 5px;
    font-weight: bold;

    border-radius: 8px 8px 0 0;
    border-top: 2px solid var(--MainColorHighlight);
    border-left: 2px solid var(--MainColorHighlight);

    background-color: var(--MainColor);
    color: var(--MainShadowColor);
}

thead,
tfoot {
    padding: 6px;
    
    border-top: 2px solid var(--MainColorHighlight);
    border-bottom: 2px solid var(--MainShadowColor);

    background-color: var(--MainColor);
    color: var(--MainShadowColor);
}

th, td {
    padding: 4px 6px;
    text-align: center;

    border-left: 2px solid var(--MainColorHighlight);
}

td {
    border-right: 2px solid var(--MainColor);
    border-bottom: 2px solid var(--MainColor);

    background-color: var(--BackgroundColorLight);
}

th {
    background-color: var(--MainColor);
    color: var(--MainShadowColor);
}