@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Math&family=Noto+Sans+Symbols:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.font-size-title {
    font-size: clamp(24px, 8vw, 96px);
}

.font-size-title-s {
    font-size: clamp(24px, 8vw, 64px);
}

.font-size-text {
    font-size: clamp(12px, 4vw, 32px);
}

.font-size-text-s {
    font-size: clamp(8px, 3vw, 16px);
}

.title-lines {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 16px;
}

.title-lines::before,
.title-lines::after {
  content: "";
  flex: 1 1 0;

  height: 4px;
  max-width: 128px;
  
  background: var(--MainColor);
  box-shadow: 3px 3px 0 var(--MainShadowColor);
}